body {
    background-color: #fff;
    color: #484848;
}

.w-20 {
    width: 20%;
}

.h-100vh {
    height: 100vh;
}

.error {
    font-size: 14px;
}

.cursor-pointer {
    cursor: pointer;
}

.text-danger-light {
    color: #ffb6bd;
}

.fnt-40 {
    font-size: 40px;
}

.bg-sec-pri {
    background: #fff;
    border: 1px solid b5d9ff;
}

nav {
    background: #ffffff;
    border-bottom: 4px solid #82e498;
}

nav a {
    color: #828282;
}

nav a:hover {
    color: #46dc69;
}

.sec-pri {
    border: 1px solid #82e498;
    border-radius: 5px;
}

.btn-primary {
    background-color: #259a3f;
    border-color: #259a3f;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0f521e;
    border-color: #0f521e;
}

.table .thead-dark th {
    color: #fff;
    background-color: #259a3f;
    border-color: #185d27;
}

.table td,
.table th {
    vertical-align: middle;
}

.table td p {
    margin-bottom: 0;
}

tfoot {
    background-color: rgba(0, 0, 0, 0.05);
}

.content-editable:focus {
    outline: none;
    padding: 0 5px;
    text-decoration: underline;
}

.b-shadow {
    -webkit-box-shadow: 0px 5px 20px 0px rgba(184, 184, 184, 1);
    -moz-box-shadow: 0px 5px 20px 0px rgba(184, 184, 184, 1);
    box-shadow: 0px 5px 20px 0px rgba(184, 184, 184, 1);
}